#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
/* Menu Component*/
.Menu button {
    margin : 1em;
}

.Content-Selection {
    background-color: #4c4c4c;
    padding : 1em;
}
.Content-Selection p {
    display: inline-block;
    margin-right: 30px;
}

/* Content Component */
.Header {
    background-color: #4c4c4c;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.Header h1{
    display: inline-block;
    margin-inline: 10px;
}
.Header a{
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}
.Header p{
    display: inline-block;
}

.QnA > *{
    margin: 1vh;
}
.answer-div > *{
    margin-inline: 2vh;
}
.content h2{
    color: green;
}